<section class="body ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center container">
                    <img class="ppic img-fluid mt-5 mb-2" src="./image/welcome-pic1.jpg" alt="welcome-pic1" height="360px" style="border-radius: 50%;">
                </div>
            </div>
            <div class="px-4 py-5 my-5 text-center col-lg-6">
                <h2 class="display-5 fw-bold text-body-emphasis">Welcome to KenaBecha.com!</h2>
                <p style="color: darkgreen;">Click the <a href="/signup" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Sign-up </a> button to create an account and enjoy our service! <br>
                    Buy and sell preloved items effortlessly. Join us to find incredible deals or sell your unused
                    treasures today!</p>

            </div>

        </div>

    </div>


    <div class="container px-4 py-5" id="make-money">
        <!-- <h2 class="pb-2 border-bottom"></h2> -->
         


             <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                 <div class="col-lg-6 d-flex align-items-start">
                     <div
                     class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                     <img src="./image/money_bag.jpg" class="img-fluid img-thumbnail" alt="money-bag" height="200px"
                     width="200px">
                    </div>
                    <div>
                        <h3 class="fs-2 text-body-emphasis">Want to make extra money?</h3>
                        <p>Do you have something to sell?
                            Post your first product and start making money!</p>
                            
                        
                    </div>
                    
                </div>

                <div class="col-lg-6 d-flex align-items-start">
                    <div
                    class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <img src="./image/whywe.png" class="img-fluid img-thumbnail" alt="whywe" height="200px"
                    width="200px">
                </div>
                <div>
                    <h3 class="fs-2 text-body-emphasis">Why join Us?</h3>
                    
                    
                    
                    <ul>
                        <li>🛍️ Discover amazing deals on preloved items.</li>
                        <li>💵 Sell your unused items and earn extra cash.</li>
                        <li>🌱 Contribute to a sustainable future by reducing waste.</li>
                    </ul>
                    
                    
                </div>
            </div>

        </div>










</section>